<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Sign up</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>
 
   <div class="p-2" align="center">
      <h5>Create a New Service</h5>
   </div>
   
      <div class="row">
         <div class="col-md-3"></div>
             <div class="col-md-6">
              	<div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
             </div>
      </div>

 <div class="container">
<form th:action="@{/createservice}" th:object="${bookingForm}" method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label>Service ID</label>
            <input type="number" class="form-control" th:field="*{serviceId}">
        </div>
        <div class="col-md-6 form-group">
            <label>Service Name</label>
            <input type="text" class="form-control" th:field="*{serviceName}">
        </div>
        <div class="col-md-6 form-group">
            <label>Service Cost</label>
            <input type="number" class="form-control" th:field="*{serviceCost}">
        </div>        
     </div>
   <button class="btn btn-primary" type="submit">Create New Service</button>
</form>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>