<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Sign up</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>
 
   <div class="p-2" align="center">
      <h5>Create a New Service</h5>
   </div>

 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/createservice}" th:object="${bookingForm}">
      <div class="row">
         <div class="col-md-3"></div>
             <div class="col-md-6">
              	<div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
             </div>
      </div>
         
         <!-- SERVICE ID -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="serviceId">Service ID:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{serviceId}" class="form-control" id="id"
                                placeholder="Service ID Number" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- SERVICE NAME -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="serviceName">Service Name</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-universal-access"></i></div>
                        <input type="text" th:field="*{serviceName}" class="form-control" id="name"
                                placeholder="Service Name" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- SERVICE COST -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="serviceCost">Service Cost</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-universal-access"></i></div>
                        <input type="text" th:field="*{serviceCost}" class="form-control" id="cost"
                                placeholder="Service Cost" required autofocus>
                     </div>
                 </div>
             </div>
         </div>

         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Create Service</button>
             </div>
         </div>
     </form>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>