<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Edit Reservation</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/editreserve2}" th:object="${bookingForm}">

   <div class="p-2" align="center">
      <h5>Edit Reservation</h5>
   </div>

 <table class="table table-striped" th:object="${reservation}">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">Guest Name:</th>
      <td th:text="*{user.getFirst_name()} + ' ' + *{user.getLast_name()}">Full Name</td>
   </tr>
    <tr>
      <th scope="row">Reservation ID:</th>
      	<td th:text="*{id}"></td>
    </tr>
    <tr>
      <th scope="row">Check In:</th>
      <td><input type="text" th:field="*{checkIn}" th:value="${fromDate}" readonly="readonly"/></td>
    </tr>
    <tr>
      <th scope="row">Check Out:</th>
      <td><input type="text" th:field="*{checkOut}" th:value="${toDate}" readonly="readonly"/></td>
   </tr>
    <tr>
      <th scope="row">Room Number:</th>
      	<td th:text="*{room.getNum()}"></td>
    </tr>
   <tr>
      <th scope="row"><button type="submit" class="btn btn-success">Search New Room with Same Dates</button></th>
      <td></td>
   </tr>
   <tr>
      <th scope="row">List of additional services used:</th>
      	<td></td>
    </tr>
        <tr th:each="service : ${reservation.getServices()}">
       		<td th:if="${service.name}" th:text="${service.name}">Name</td>
       		<td th:if="${service.cost}" th:text="${service.cost}">Cost</td>
    	</tr>
    <tr>
      <th scope="row"><a th:href="@{'/addservice/' + ${reservation.id}}" class="btn btn-primary" role="button" aria-pressed="true">Add / Remove Service</a>
		</th>
      	<td></td>
    </tr>
  	</tbody>
	</table>
  </form>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>