<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Find User</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <!-- FIRST NAME  -->   
    <tr>         
      <th scope="row">Find by First Name</th>
      <td>
     	<form class="form-horizontal" role="form" method="POST" th:action="@{/finduserFirstName}" th:object="${user}">
      	 <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                        placeholder="First Name" required autofocus>
      	 			<span class="text-danger align-middle" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
          <div class="p-2">
             <button type="submit" class="btn btn-secondary">Find User by First Name</button>
          </div>
       </form>
      </td>
      <td></td>
    </tr>
  <!-- EMAIL  -->     
    <tr>         
      <th scope="row">Find by Email</th>
      <td>
     	<form class="form-horizontal" role="form" method="POST" th:action="@{/finduser}" th:object="${user}">
            <input type="text" th:field="*{email}" class="form-control" id="email"
                   placeholder="user@sample.com" required autofocus>
      	 			<span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
          <div class="p-2">
             <button type="submit" class="btn btn-primary">Find User by Email</button>
          </div>
       </form>
      </td>
      <td></td>
    </tr>    
      <!-- ID CARD NUMBER  -->     
    <tr>         
      <th scope="row">Find by ID Number</th>
      <td>
		<form class="form-horizontal" role="form" method="POST" th:action="@{/finduserById}" th:object="${user}">
      		<input type="number" th:field="*{id}" class="form-control" id="validationCustom05" placeholder="ID Number" required autofocus>
      		<span class="text-danger align-middle" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
  		       <div class="p-2">
  				<button class="btn btn-primary" type="submit">Find the User</button>
  			   </div>
		</form>
      </td>
      <td></td>
    </tr> 
  </tbody>
</table>

 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>