<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Find User</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Find by First Name</th>
      <td>
         <form class="form-horizontal" role="form" method="POST" th:action="@{/finduser}" th:object="${user}">
      	 <input type="text" th:field="*{first_name}" class="form-control" id="first_name"
                        placeholder="First Name" required autofocus>
         <button type="submit" class="btn btn-secondary">Find User by First Name</button>
      	</form>
      </td>
    </tr>
  </tbody>
</table>
 
 
   <div class="col-md-3">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/finduser}" th:object="${user}">
         <!-- FIRST NAME -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Find by First Name</label>
             </div>
             <div class="col-md-6">
               <div class="form-group">
                 <div class="input-group-addon" style="width: 2.6rem"></div>
                   <input type="text" th:field="*{first_name}" class="form-control" id="first_name"
                        placeholder="First Name" required autofocus>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <button type="submit" class="btn btn-secondary">Find User by First Name</button>
             </div>
         </div>
     </form>
   </div>

   <div class="col-md-3">  
     <form class="form-horizontal" role="form" method="POST" th:action="@{/finduser}" th:object="${user}">    
         <!-- E-MAIL  -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="email">Find by Email</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                         <div class="input-group-addon" style="width: 2.6rem"></div>
                         <input type="text" th:field="*{email}" class="form-control" id="email"
                                placeholder="user@sample.com" required autofocus>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                         </span>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Find User by Email</button>
             </div>
         </div>
     </form>
   </div>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>