<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice Confirmation</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
   <div class="p-2" align="center">
      <h5>Invoice Confirmation</h5>
   </div>
 
  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
 <table class="table table-striped" th:object="${reservation}">
        <tbody>
            <tr>
                <th scope="col">Reservation ID</th>
                <td th:text="*{id}">Reservation ID</td>
             </tr>
             <tr>
                <th scope="col">Invoice Number</th>
                <td th:text="*{invoice.getId()}">Invoice Number</td>
             </tr>
             <tr>
                <th scope="col">Date of reservation</th>
                <td th:text="*{created}">Date of Reservation</td>
			</tr>
			<tr>
                <th scope="col">Number of days</th>
                <td th:text="*{resDays}">Number of Days</td>
             </tr>
             <tr>
                <th scope="col">Room Cost</th>
                <td th:text="*{totalCost}">Room Cost</td>
           	</tr>
           	<tr>
                <th scope="col">Services Cost</th>
                <td th:text="*{servicesCost}">Services Cost</td>
            </tr>
            <tr>
                <th scope="col">Total Hotel Cost</th>
                <td th:text="*{invoice.getTotalHotelCost()}">Total Hotel Cost</td>
            </tr>
            <tr>
                <th scope="col">Date Invoice Created</th>
                <td th:text="*{invoice.getCreated()}">Date Created Invoice</td>
            </tr>
            <tr>
                <th scope="col">User ID</th>
                <td th:text="*{user.getId()}">User ID</td>
            </tr>
            <tr>
                <th scope="col">User Name</th>
                <td th:text="*{user.getFirstName()}">User Name</td>
            </tr>
            <tr>
                <th scope="col">Room Number</th>
                <td th:text="*{room.getNum()}">Room Number</td>
            </tr>
            <tr>
                <th scope="col">Room Type</th>
                <td th:text="*{room.getRoomType().getType()}">Room Type</td>
            </tr>
            <tr>
                <td>
                	<a class="btn btn-success" th:href="@{/admin/allreservations}">List All Reservations</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{/allinvoices}">List All Invoices</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>   
</div>

 <div th:replace="fragments/footer :: footer"/></div>

</body>
</html>
 