<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>List of Users</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="p-2" align="center">
   <h5>Listing of All Users</h5>
 </div>


  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table border="1" cellpadding="2" class="table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Active: 1-YES / 0-NO</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.first_name}">First Name</td>
                <td th:text="${user.last_name}">Last Name</td>
                <td th:text="${user.active}">Active</td>                
                <td>
                	<a class="btn btn-success" th:href="@{'/profile/' + ${user.id}}">Profile</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/resinfo/' + ${user.id}}">Reservations</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/active/' + ${user.id}}">Change Active</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>  
  
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>