<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Adding Additional Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">

<div th:include="fragments/header :: header"/></div>

 <div class="p-2" align="center">
   <h5>Adding Additional Service to the Reservation</h5>
 </div>
    
    <div align="center">
    <form class="form-horizontal" role="form" th:action="@{/addservice}" th:object="${bookingForm}" method="post">
      
      <div class="form-group">
        <label for="num" class="col-sm-2 control-label">Reservation ID:</label>
        <div class="col-sm-5 input-group">
          <input type="text" th:field="*{reservationId}" readonly="readonly" />
        </div>
      </div>
      
    <ul>
        <li th:each="service : ${serviceList}">
            <input type="checkbox" th:field="*{services}" th:value="${service.getId()}" />
            <label th:for="${#ids.prev('services')}" th:text="${service.toString()}">RED</label>
        </li>
    </ul>
      
      <div class="form-group ">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-lg btn-block btn-success">Submit Additional Services</button>
        </div>
      </div>
    </form>
    </div>
    
      <div th:insert="fragments/footer :: footer"/></div>
    
   </div> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
