<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
  <div class="alert alert-danger" role="alert" th:if="${param.error}">
   The email or password is incorrect!
  </div>
  	<form th:action="@{/login}" method="post" >
  	<div align="center">
  	  <h1 class="h3 mb-3 font-weight-normal">Welcome to Hotel Management Application</h1>
  	</div>
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    	  
    	  <label for="inputEmail" class="sr-only"></label>
              <b>E-mail:</b><input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
       	  <label for="inputPassword" class="sr-only"></label>
       		  <b>Password:</b><input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
       		<div style="padding: 20px">
       		   <div>
       		        <i>ADMIN: admin@user.com, admin1</i>
       		   </div>
       		   <div>
       		   		<i>GUEST: guest@user.com, guest2</i>
       		   </div>
       		</div>  
     	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  	</form>
  </div>
  
  <div th:replace="fragments/footer :: footer"/></div>
  
</body>
</html>