<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Reservation Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div th:include="fragments/header :: header"/></div>

<div class="container bg-light">

 <div class="p-2" align="center">
   <h5>Reservation Confirmation Page</h5>
 </div>

  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table border="1" cellpadding="2" class="table-striped">
        <thead>
            <tr>
                <th scope="col">Reservation ID</th>
                <th scope="col">Date of reservation</th>
                <th scope="col">Reserved</th>
                <th scope="col">Check IN Date</th>
                <th scope="col">Check OUT Date</th>
               <!-- <th scope="col">Number of days</th>
                <th scope="col">Total Cost</th>  -->
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Room Type</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:object="${reservation}">
                <td th:text="*{id}">Reservation ID</td>
                <td th:text="*{created}">Date of Reservation</td>
                <td th:text="*{booked}">Booked</td>
                <td th:text="*{checkIn}">Check IN</td>
                <td th:text="*{checkOut}">Check OUT</td>
               <!--  <td th:text="*{resDays}">Number of Days</td>
                <td th:text="*{totalCost}">Total Cost</td> -->
                <td th:text="*{user.getId()}">User ID</td>
                <td th:text="*{user.getFirst_name()}">User Name</td>
                <td th:text="*{room.getNum()}">Room Number</td>
                <td th:text="*{room.getRoomType().getType()}">Room Type</td>
                <td>
                	<a class="btn btn-success" th:href="@{'/editbooking/' + ${reservation.id}}">Edit Reservation</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/edit/' + ${reservation.id}}">Add Services</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/delete/' + ${reservation.id}}">Poništi</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>  
  
   	<div th:insert="fragments/footer :: footer"/></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
</div>

</body>
</html>
 