<!doctype html>
<html 	lang="en"
 		xmlns:layout="http://www.w3.org/1999/xhtml"
	  	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div th:include="fragments/header :: header"/></div>

		<h1>Search Rooms by Date</h1>

<main class="container">
	<form class="form-horizontal" role="form" th:action="@{/search}" th:object="${bookingForm}" method="post">
		
    <div class="row" style="padding-top: 100px">
        <div class="col">
            <input id="datepicker1" data-date-format="dd/mm/yyyy" type="text" class="input-sm form-control" th:field="*{fromDate}" name="from" placeholder="From date">
        </div>
    <span class="input-group-addon">to</span>
        <div class="col">
            <input id="datepicker2" data-date-format="dd/mm/yyyy" type="text" class="input-sm form-control" th:field="*{toDate}" name="to" placeholder="To date">
        </div>
    </div>
    
    	<button type="submit" class="btn btn-lg btn-block btn-success">Search by Date</button>
	</form>
      
      <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
      
      <div th:if="${availableRooms.size() > 0}">
        <div class="container table-responsive" align="center">
    
    	<table border="1" cellpadding="2" class="table-striped">
        <thead>
            <tr>
                <th scope="col">Room ID</th>
                <th scope="col">Room Number</th>
                <th scope="col">Room Type</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="room : ${availableRooms}">
                <td th:text="${room.id}">Room ID</td>
                <td th:text="${room.num}">Room Number</td>
                <td th:text="${room.roomType.getType()}">Room Type</td>
                <td>
                	<a class="btn btn-success" th:href="@{'/reserve/' + ${room.id}}">Room Booking</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/edit/' + ${room.id}}">Reservations</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/delete/' + ${room.id}}">Additional Services</a>
                </td>
            	</tr>
        		</tbody>
    		</table>
  		</div>
      </div>
	
</main>

 <div th:insert="fragments/footer :: footer"/></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker1').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker1').datepicker("setDate", new Date());
    
    $('#datepicker2').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker2').datepicker("setDate", new Date());
</script>
</body>
</html>

