<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Added Services Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">

<div th:include="fragments/header :: header"/></div>

 <div class="p-2" align="center">
   <h5>Additional Services in the Reservation Confirmation</h5>
 </div>
 
  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table class="table-striped">
        <thead>
            <tr>
                <th scope="col">Reservation ID</th>
                <th scope="col">Date of reservation</th>
                <th scope="col">Number of days</th>
                <th scope="col">Total Room Cost</th>
                <th scope="col">Total Services Cost</th>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Room Type</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:object="${reservation}">
                <td th:text="*{id}">Reservation ID</td>
                <td th:text="*{created}">Date of Reservation</td>
                <td th:text="*{resDays}">Number of Days</td>
                <td th:text="*{totalCost}">Total Cost</td>
                <td th:text="*{servicesCost}">Services Cost</td>
                <td th:text="*{user.getId()}">User ID</td>
                <td th:text="*{user.getFirstName()}">User Name</td>
                <td th:text="*{room.getNum()}">Room Number</td>
                <td th:text="*{room.getRoomType().getType()}">Room Type</td>
            </tr>
            <tr>
                <td>
                	<a class="btn btn-success" th:href="@{'/editreserve1/' + ${reservation.id}}">Edit Reservation</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/addservice/' + ${reservation.id}}">Add / Remove Services</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/checkout/' + ${reservation.id}}">Check Out</a>
                </td>
            </tr>
        </tbody>
    </table>
    
   <div class="p-2">
   
  <div class="p-2" align="center">
   <h5>Included Services</h5>
 </div>
 
   <table class="table-striped">
        <thead>
            <tr>
                <th scope="col">Service ID</th>
                <th scope="col">Service Name</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="service : ${reservation.getServices()}">
                <td th:text="${service.id}">Service ID</td>
                <td th:text="${service.name}">Name</td>
                <td th:text="${service.cost}">Cost</td>
            </tr>
        </tbody>
    </table>
   </div>   
    
  </div>   
  
        <div th:insert="fragments/footer :: footer"/></div>
  
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
 