<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
  <h2>Hi, this is the Home page.</h2>
    <!-- <a th:href="@{/admin}">Admin Page</a>  -->
   <a th:href="@{/signup}">Sign Up</a>
   <p></p>
  <a th:href="@{/logout}">Sign out</a>
     <p></p>
  <a th:href="@{/allusers}">List All Users</a>
       <p></p>
  <a th:href="@{/createroom}">Create Room</a>
         <p></p>
  <a th:href="@{/allrooms}">List All Rooms</a>
           <p></p>
  <a th:href="@{/allreservations}">List All Reservations</a>
             <p></p>
  <a th:href="@{/alladdservices}">List All Services</a>
 </div>
</body>
</html>