<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Sign up</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table border="1" cellpadding="2" class="table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.first_name}">First Name</td>
                <td th:text="${user.last_name}">Last Name</td>
                <td>
                	<a class="btn btn-success" th:href="@{'/search/' + ${user.id}}">Search by Date</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/edit/' + ${user.id}}">Reservations</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/delete/' + ${user.id}}">Additional Services</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>  

 <div class="container">
     
     <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
      	
      	<div class="row">
          	<div class="col-md-3"></div>
          	<div class="col-md-6">
          	  	<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
      	  	</div>
      	</div>
      	
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <h2>Register New User</h2>
                 <hr>
             </div>
         </div>
         
         <!-- FIRST NAME -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">First Name</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{first_name}" class="form-control" id="first_name"
                                placeholder="First Name" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- LAST NAME -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Last Name</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{last_name}" class="form-control" id="last_name"
                                placeholder="Last name" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- E-MAIL  -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="email">Email</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
                         <input type="text" th:field="*{email}" class="form-control" id="email"
                                placeholder="user@sample.com" required autofocus>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                         </span>
                 </div>
             </div>
         </div>
         
         <!-- GENDER -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="gender">Gender</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-venus-mars"></i></div>
                         <input type="text" th:field="*{gender}" class="form-control" id="gender"
                                placeholder="Gender" required>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
                         </span>
                 </div>
             </div>
         </div>
         
         <!-- ID CARD NUMBER -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="id_card_num">ID Card Number</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-id-card"></i></div>
                         <input type="text" th:field="*{id_card_num}" class="form-control" id="id_card_num"
                                placeholder="ID Card Number" required>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('id_card_num')}" th:errors="*{id_card_num}">
                         </span>
                 </div>
             </div>
         </div>
         
         <!-- AGE -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="age">Age</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-universal-access"></i></div>
                         <input type="text" th:field="*{age}" class="form-control" id="age"
                                placeholder="Age" required>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                         </span>
                 </div>
             </div>
         </div>
         
         <!-- ROLE -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="role">Role</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-universal-access"></i></div>
                    		<select th:field="*{role}">
    							<option th:value="'GUEST'" th:text="GUEST"></option>
    							<option th:value="'ADMIN'" th:text="ADMIN"></option>
							</select>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- PASSWORD -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="password">Password</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                         <input type="password" th:field="*{password}" class="form-control" id="password"
                                placeholder="Password" required>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                         </span>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
             	<a th:href="@{/logout}" class="btn btn-secondary" role="button" aria-pressed="true">Log Out</a>
             </div>
         </div>
     </form>
 </div>
</body>
</html>